@import "/styles/var/colors.scss";
@import "/styles/var/imageUrls.scss";
@import "/styles/functions/box-shadows.scss";
$windowPadding: 3px;

@mixin window-addressbar {
  display: flex;
  padding: 0px;
  font-size: 1rem;
  // position: absolute;
  overflow-y: visible;
  z-index: 20;
  min-height: 22px;
  // padding-left: 12px;
  width: calc(100% - 2px);
  margin: 0px 1px;
  margin-top: 2px;
  box-shadow: navBoxShadow();
  box-shadow: 0px 2px 0px -1px #ffffff, -1px 2px 0px -1px #ffffff,
    -1px 1px 0px $darkgrey, 0px 1px 0px $darkgrey, navBoxShadow(),
    -1px -1px 0px $darkgrey, 0px -1px 0px $darkgrey, inset 0px 1px 0px #ffffff,
    1px -1px 0px #ffffff;
  > div{
    > button {
      color:$black;

      &:disabled,
      &.disabled {
        color: $darkgrey;
      }
    }
  }
  > button {
    width: auto;
    min-width: fit-content;
    div.icon {
      margin: auto;
      width: 20px;
      height: 20px;
      background-image: url(https://98.js.org/images/browse-ui-icons-grayscale.png);
      min-width: auto;
      &.back-button {
        background-position: 0 0;
      }
      &.forward-button {
        background-position: -20px 0px;
      }
      &.up-button {
        background-position: -880px 0px;
      }
    }
    &.lightweight {
      box-shadow: none;
      background: none;
      padding: 0;
    }
  }
  &:before {
    position: relative;
    top: 3px;
    left: 5px;
    height: calc(100% - 6px);
    width: 3px;
    background-color: $grey;
    content: "";
    box-shadow: dualShadow(#ffffff, $darkgrey);
  }
  &.OptionsList {
    min-height: 40px;
    display: block;
  }
}
